<div class="global">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-6">
<!--                <img class="footer-img" src="../../../content/images/基育白標.png"/>-->
            </div>
            <div class="col-sm-6 col-md-6">
                <h6>顥智聯科技股份有限公司</h6>
                <ul>
                    <li>臺北市中山區南京東路二段132號9樓之1</li>
                    <li>9F.-1, No. 132, Sec. 2, Nanjing E. Rd., Zhongshan Dist., Taipei City 104, Taiwan (R.O.C.)</li>
                    <li>Tel:   Fax: </li>
                </ul>
            </div>
            <div class="social">
                <h6>Follow us</h6>
                <a href=''><fa-icon icon="facebook"></fa-icon> </a>
                <a href=''><fa-icon icon="instagram"></fa-icon> </a>
                <a href=''><fa-icon icon="google"></fa-icon> </a>
            </div>
        </div>
    </div>
    <p class="copyright">Copyright © 2020 VeryYa All Rights Reserved.<br> 網頁設計： 顥智聯科技股份有限公司 </p>
</div>
